<div class="p-6">
  @if(mode === 'VIEW'){
  <div class="text-lg">Your Trips</div>
  <div class="mt-4">
    @if (!$data().length) {
    <div class="mt-4">No Rides Found.</div>
    } @for (item of $data(); track $index) {
    <div class="p-4 w-50">
      <app-ride-card [data]="item"></app-ride-card>
    </div>
    }
  </div>
  } @if(mode === 'SEARCH'){
  <div class="text-lg">Showing you rides within 60 mins</div>
  <div class="mt-4">
    <mat-form-field>
      <mat-label>Vehicle Type</mat-label>
      <mat-select [formControl]="filter">
        @for (item of VEHICLE_TYPES; track $index) {
        <mat-option [value]="item">{{ item.label }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <button matButton class="ml-2" (click)="clearFilters()">clear</button>
  </div>
  <div class="mt-4">
    @for (item of $data(); track $index) {
    <div class="mt-4 w-50">
      <app-ride-card [mode]="'SEARCH'" [data]="item" (action)="joinRide(item)"></app-ride-card>
    </div>
    } @if (!$data().length) {
    <div class="mt-4">No Rides Found in the time range or Filters</div>
    }
  </div>
  }
</div>
