<div class="p-6">
  @if(mode === 'VIEW'){
  <div class="text-lg">Your Trips on {{ today.toLocaleDateString() }}</div>
  <div class="mt-4">
    @if (!$data().length) {
    <div class="mt-4">No Rides Found.</div>
    } @for (item of $data(); track $index) {
    <div class="p-4 w-50">
      <app-ride-card [data]="item"></app-ride-card>
    </div>
    }
  </div>
  } @if(mode === 'SEARCH'){
  <div class="text-lg">Showing you rides within 60 mins on {{ today.toLocaleDateString() }}</div>
  <div class="mt-4 flex-row gap-4 items-center">
    <mat-form-field>
      <mat-label>Vehicle Type</mat-label>
      <mat-select [formControl]="filterForm.controls.vehicle_type">
        @for (item of VEHICLE_TYPES; track $index) {
        <mat-option [value]="item.value">{{ item.label }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

     <mat-form-field>
      <mat-label>Pick-up Point</mat-label>
      <mat-select [formControl]="filterForm.controls.pick_up">
        @for (item of $locations(); track $index) { @if(item?.type === 'PICK'){
        <mat-option [value]="item.id">{{ item?.label }}</mat-option>
        } }
      </mat-select>
      <mat-error>Pick up point is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Destination</mat-label>
      <mat-select [formControl]="filterForm.controls.destination">
        @for (item of $locations(); track $index) { @if(item?.type === 'DROP'){
        <mat-option [value]="item.id">{{ item?.label }}</mat-option>
        } }
      </mat-select>
      <mat-error>Destination is required</mat-error>
    </mat-form-field>

    <button matButton="outlined" class="ml-2" (click)="clearFilters()">clear</button>
  </div>
  <div class="mt-4">
    @for (item of $data(); track $index) {
    <div class="mt-4 w-50">
      <app-ride-card [mode]="'SEARCH'" [data]="item" (action)="joinRide(item)"></app-ride-card>
    </div>
    } @if (!$data().length) {
    <div class="mt-4">No Rides Found in the time range or Filters</div>
    }
  </div>
  }
</div>
