<div class="p-6">
  <div class="text-lg">Pick a Ride for {{ today.toLocaleDateString() }}</div>

  <form class="flex-col gap-2 w-50 mt-4" [formGroup]="form">
    <mat-form-field>
      <mat-label>Employee ID</mat-label>
      <input matInput formControlName="emp_id" />
      <mat-error>Employee ID is required</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Pick a time</mat-label>
      <input matInput [matTimepicker]="picker" formControlName="time" />
      <mat-timepicker-toggle matIconSuffix [for]="picker" />
      <mat-timepicker #picker />
      <mat-error>Time is required</mat-error>
    </mat-form-field>

    <button matButton="filled" class="w-fit" (click)="submit()">Search For Rides</button>
  </form>
</div>
