/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0;  font-family: "Poppins", sans-serif; }

.font-bold {
    font-weight: bold;
}

.font-lg {
    font-size: 16px;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.w-50 {
    width: 50%;
}

.w-fit {
    width:fit-content;
}

.p-6 {
    padding: 24px;
}

.mt-4 {
    margin-top: 16px;
}

.font-primary {
  font-family: "Poppins", sans-serif;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.gap-4{
   gap : 16px;
}

.gap-2{
   gap : 8px;
}